<h1>結帳</h1>

<%= render "cart", cart: current_cart %>

<%= simple_form_for @order do |f| %>
  <%= f.fields_for :recipient do |recipient| %>
    <%= recipient.input :name %>
    <%= recipient.input :tel %>
    <%= recipient.input :address %>
    <%= recipient.input :email %>
  <% end %>

  <div id="payment-form"></div>

  <%= f.submit "確認送出!", class: "btn btn-danger" %>
<% end %>

<script src="https://js.braintreegateway.com/js/braintree-2.32.1.min.js"></script>
<script>
var clientToken = "<%= @token %>";

braintree.setup(clientToken, "dropin", {
  container: "payment-form"
});
</script>

<hr />
